<h1>Sign up</h1>

<p>username</p>
<p>password</p>
<p>bio</p>
<p>500px_oauth_token</p>
<p>500px_oauth_secret</p>
<p>session_id</p>

<a href="#">Sign up</a>

<%= link_to 'Log in', login_path, class:"button, button-login-signup" %>
