<h1 class='header-title id-home'>Home</h1>

<p>Pretty pictures go here!</p>

<div class='photo-grid'>
<% @photos.each do |photo| %>
  <div class='photo-grid-card'>
    <img class="photo-grid-card-image" alt="<%=photo['name']%>"
      src="<%=photo['image_url']%>"/>
    <div class="photo-grid-card-name"><%=photo['name']%></div>
  </div>
<% end %>
